rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public read-only cache documents written by gcul-policy (Admin SDK).
    match /gcul_cache/{docId} {
      allow read: if docId == 'policy_marketplace';
      allow write: if false;
    }
  }
}
